apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: backend-deploy
  name: backend-deploy
  namespace: counter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-deploy
  strategy: {}
  template:
    metadata:
      labels:
        app: backend-deploy
    spec:
      containers:
      - image: trahulprabhu38/counter-backend:v-linux 
        name: counter-backend
        resources: {}
status: {}

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: backend
  name: backend
  namespace: counter
spec:
  ports:
  - name: 8080-8080
    port: 8080
    protocol: TCP
    targetPort: 8080
    nodePort: 30041
  selector:
    app: backend-deploy
  type: NodePort
status:
  loadBalancer: {}
